@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  transition: 1s all;
}

.hero {
  width: 100%;
  height: 100vh;
  background-color: #454249;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .font_box {
  background-color: #f3e5f5;
  padding: 15px;
  border-radius: 15px;
  width: 500px;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 8px solid #ce93d8;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.05);
  align-content: center;
}

.hero p {
  text-align: justify;
  margin: 10px;
}

.hero img {
  width: 200px;
  border-radius: 100%;
  border: 5px solid #ce93d8;
}

.heading {
  font-size: 50px;
  font-family: "Audiowide", sans-serif;
  color: #b72bde;
}

h2 {
  font-family: "Audiowide", sans-serif;
  text-align: center;
}

.text {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  color: #2b2b2b;
}

.interests {
  width: calc(100% - 20px);
  background-color: black;
  padding: 10px;
}

.interests p {
  width: calc(100% - 20px);
  text-align: center;
  padding: 10px;
}

.interests .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.interests .globe {
  width: 350px;
  height: 350px;
  margin: 10px;
}

#globeCanvas {
  display: block;
  margin: 10px;
}

.interests .text {
  width: 300px;
  margin: 5px;
  position: relative;
  padding: 10px;
  border-radius: 20px;
  z-index: 1;
  color: white;
  transition: 1s all;
  font-size: 25px;
  text-align: justify;
  transform: scale(1);
  animation: popup 1s;
}

@keyframes popup {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.projects {
  width: calc(100% - 20px);
  padding: 10px;
  background-color: rgb(94, 87, 103);
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.projects .container {
  width: 90%;
  display: grid;
  grid-template-columns: auto auto auto;
}

.project {
  aspect-ratio: 3/2;
  background-color: rgb(157, 159, 158);
  margin: 15px;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.05);
}

.footer {
  width: calc(100% - 20px);
  padding: 10px;
  background-color: #6ec6dc;
}

.footer a img {
  width: 40px;
  margin: 0px 10px;
}

a {
  text-decoration: none;
  color: rgb(3, 134, 144);
}

@media only screen and (max-width: 720px) {
  .hero .font_box {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: white;

  a {
      color: rgb(102, 245, 255);
    }
  }

  .hero .text {
    color: white;
  }

  .interests .container {
    flex-direction: column;
  }
}
